.table-view .column-header .label {
    -fx-text-fill:  #1261a0;
    -fx-font-weight: bold;
}
.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}
.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:  #1261a0;
    -fx-border-insets: 0 10 1 0;
}
.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}
.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Raleway";
    -fx-text-fill:  #1261a0;
}
.table-view .column-header .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #1261a0;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}


.split-pane:horizontal > .split-pane-divider {

    -fx-background-color: #1261a0 ;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Century Gothic";

    -fx-text-fill:#1261a0 ;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #ffffff;
    -fx-border-width: 3;
    -fx-background-radius: 0;
    -fx-background-color: #1261a0;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 14pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}